extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Eugene Leychenko

        
        p.lead.text-light
          | Full Stack JavaScript Developer Extraordinaire.

        
        .portfolio-bio
          p
            | I have been teaching PM at General Assembly close to 4 years. Here I get to learn from students about the trials and tribulations they have in their roles at PMs, teach how PM should be done by the book, and lastly integrate lessons I’ve learned from my clients. Additionally, I write a lot (over 100 posts) on Medium about Product Management and Strategy.
            
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li Node
          li Vanilla JS
          li Nodemon
          li jQuery 
          li CSS
        h6 Contact Info

        
        ul
          li 555-555-1234
          li eugene@citadinesgroup.com

        
        a.button.expanded(href='https://www.linkedin.com/in/eugene-leychenko/') LinkedIn
        a.button.expanded(href='https://github.com/techdegreeEugene') GitHub
        a.button.expanded(href='http://www.medium.com/@Citadines_Group') Medium
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  